pyttsx3==2.90 # Offline text-to-speech (TTS) library, which provides basic TTS capabilities using local voices
pydub==0.25.1 # Audio processing library
tk  # tkinter GUI library used to open Windows file dialogs, included by default with Python in Linux
platformdirs==3.10.0  # Cross-platform way to handle file paths
edge-tts==1.1.5  # TTS library for high-quality voices, which provides neural voices from Microsoft Edge